.main-container-task{
    padding: 40px 90px;
}

.back-link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.tasks-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 100px 150px;
    background-color: var(--color2);
    border-radius: 15px;
}

.nawigation-tasks{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.task-container{
    width: 100%;
}

.cart-task-job{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color3);
    padding: 50px;
    margin: 5px 0;
    border-radius: 15px;
    text-decoration: none;
}

.task-content{
    display: flex;
    color: var(--color2);
    margin: 5px;
}

.content-task p{
    color: var(--color1);

}

.size-content{
    max-width: 1000px;
}

.status-task{
    width: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--color2);
}

.DownloadPDF{
    display: flex;
    flex-direction: column;
}

.DownloadPDF img{
    width: 90px;
}

.content-task{
    display: flex;
    flex-wrap: wrap;
}

.select-task{
    background-color: #fff;
    padding: 7px;
    border: none;
    color: var(--color1);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

.content-task-student-all{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--color3-1);
    color: var(--color2);
}

.h1-student-task{
    font-family: 'Oswald',sans-serif;
    font-size: 2.188rem;
    color: var(--color1);
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .Interface-Essential-img{
        width: 60px;
        height: 60px;
    }

    .main-container-task{
        padding: 20px 60px;
    }
    
    .tasks-container{
        gap: 20px;
        padding: 60px ;
    }

    .cart-task-job{
        padding: 20px;
    }
    
    .task-content{
        display: flex;
    }

    .size-content{
        max-width: 500px;
    }
    .School-Science-img{
        width: 60px;
        height: 60px;
    }

    .DownloadPDF img{
        width: 60px;
    }

    .h1-student-task{
        font-size: 1.75rem;
    }
    
}

@media (max-width: 600px) {
    .Interface-Essential-img{
        width: 40px;
        height: 40px;
    }

    .main-container-task{
        padding: 10px 20px;
    }
    
    .tasks-container{
        gap: 20px;
        padding: 40px ;
    }

    .cart-task-job{
        padding: 10px;
    }
    
    .task-content{
        display: flex;
    }

    .size-content{
        max-width: 300px;
    }
    .School-Science-img{
        width: 40px;
        height: 40px;
    }

    .DownloadPDF img{
        width: 40px;
    }

    .h1-student-task{
        font-size: 1.375rem;
    }
    
}
