.carousel-container {
  position: relative;
  right: 0;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 40px;
}


.carousel-card {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.container-card-img{
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.carousel-card img{
  width: auto;

}

.flipping-in-front,
.flipping-in-bac{
  display: flex;
  align-items: flex-start;
  background-color: var(--bac);
  color: var(--color3);
  border: none;
  font-size: 50px;
  padding: 5px;
  cursor: pointer;
}

.carousel-card p{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color1);
  margin: 10px 30px;
}

.carousel-card a{
  text-decoration: none;
}

.carousel-container{
  margin-bottom: 90px;
}

.wrap-container-news{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media(max-width: 1024px){
  .carousel-inner {
    gap: 30px;
  }
  
  .carousel-card {
    width: 300px;
    height: 400px;
  }
  
  .container-card-img{
    height: 200px;
  }
  
  .flipping-in-front,
  .flipping-in-bac{
    font-size: 40px;
  }
  
  .carousel-card p{
    margin: 10px 20px;
  }
  
  .carousel-container{
    margin-bottom: 60px;
  }
}


@media(max-width: 600px){


  .carousel-inner {
    gap: 30px;
  }
  .container-card-img{
    height: 100px;
  }
  
  .flipping-in-front,
  .flipping-in-bac{
    font-size: 20px;
  }
  
  .carousel-card p{
    margin: 10px 10px;
  }
  
  .carousel-container{
    margin-bottom: 20px;
  }
}